extends layout

block content
  link(rel='stylesheet', href='/stylesheets/about.css')
  .container
    .row
      .col-lg-12
        h3.text-center Qui sommes nous ?
        p
          | Bonjour, vous êtes ici sur notre site web minitwr qui n'est d'autre qu'un mini réseau social comme vous aurez pu le remarquer. Ce site web a été programmé pour l'étude de l'UE : Programmation web. Ce site est open source, vous pourrez trouver le repos ici : https://github.com/bsulyan/minitwr
        ul.timeline
          li
            .timeline-image
              img.img-responsive.img-circle(src='http://www.catholicnewsagency.com/images/05_06_2010_Southpark_Jesus.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Bastien Sulyan
                h4.subheading Co-Créateur
              .timeline-body
                p.text-muted
                  | S'occupe de la partie : Style du site

            .line
          li.timeline-inverted
            .timeline-image
              img.img-responsive.img-circle(src='http://vignette3.wikia.nocookie.net/southpark/images/6/62/Butters-SPG.png/revision/latest?cb=20120211215553', alt='')
            .timeline-panel
              .timeline-heading
                h4 Mickaël Bauer
                h4.subheading Co-Créateur
              .timeline-body
                p.text-muted
                  | S'occupe de la partie : Base de donnée
  //
    "
            .line
          li.timeline-inverted
            .timeline-image
              img.img-responsive(src='http://lorempixel.com/250/250/cats/2', alt='')
            .timeline-panel
              .timeline-heading
                h4 Step text
                h4.subheading text
              .timeline-body
                p.text-muted
                  | text

  br
  br
  h3 Un site web 2.0
  .container
    .row
      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://www.dropforgelabs.com/sites/default/files/bootstrap.png', alt='')
            .info
              h3.title Créé avec Bootstrap
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://i.imgur.com/5zf2aVt.png', alt='')
            .info
              h3.title Créé avec Jade
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://imagizer-cv.imageshack.us/a/img674/6807/Ydmxes.png', alt='')
            .info
              h3.title Créé avec Express
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png', alt='')
            .info
              h3.title Créé avec HTML5
              p
                | 
              .more
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/css3-512.png', alt='')
            .info
              h3.title Créé avec CSS3
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://code-maven.com/img/node.png', alt='')
            .info
              h3.title Créé avec Node.js
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://www.lafabriquedecode.com/blog/wp-content/uploads/2013/04/mongo_logo.png', alt='')
            .info
              h3.title Créé avec Mongodb
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://www.geeks.gallery/wp-content/uploads/2015/01/jQurery.gif', alt='')
            .info
              h3.title Créé avec Jquery
              p
                | 
          .space


      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='http://www.pinyourclient.com/wp-content/uploads/2015/01/9455413519_javascript.png', alt='')
            .info
              h3.title Créé avec Javascript
              p
                | 
          .space

  //
    "
      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='', alt='')
            .info
              h3.title Desktop Friendly
              p
                | text
              .more
                a(href='#', title='Title Link')
                  | Read More 
                  i.fa.fa-angle-double-right
          .space
