extends layout

block content

  h1= title
  if session.isConnect == false
    .container
      .row
         .span4.offset4.well
           legend Connectez vous
           .alert.alert-error
             a.close(data-dismiss='alert') ×
             span=err
           form(method='post', action='/connect', accept-charset='UTF-8', name='login')
             input#username.span4(type='text', name='user', placeholder="Nom d'utilisateur")
             br
             input#password.span4(type='password', name='pass', placeholder='Mot de passe')
             br
             br
             button.btn.btn-info(type='submit', name='submit') Se connecter
             br
             br
             a.btn.btn-info(href='/register') Pas encore de compte ?
   else
      p Vous êtes déjà connecté

