extends layout

block title
  title Tchat
  
block head
  link(rel='stylesheet', href='/stylesheets/twt.css')
  script(src='/javascripts/affichePosts.js')

block content  

  if session.isConnect
    blockquote.twt
      br
      form(accept-charset='UTF-8', action='profil/#{session.account.pseudo}', method='POST')
        textarea#new_message.span4.message(name='message', placeholder='Ecrivez ici votre message', rows='5')
        br
        br
        button.btn.btn-info(type='submit') Post New Message
        br
        p 
      
  section#posts
  script.
        nbPosts(function(nb) {
            searchPosts(function(posts) {
                affichePosts(posts, true); 
            }, nb, 10 , {hashtag : '#{hashtag}'});
            var I=nb;
            var i=I;
            $(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height() && i>10){
                    i=i-10;
                    searchPosts(function(posts) {
                        affichePosts(posts, true); 
                    }, i, 10, {hashtag : '#{hashtag}'});
                }
            });
        },{hashtag : '#{hashtag}'});
