extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  #bs-carousel.carousel.fade-carousel.slide(data-ride='carousel', data-interval='4000')

    // Indicators
    ol.carousel-indicators
      li.active(data-target='#bs-carousel', data-slide-to='0')
      li(data-target='#bs-carousel', data-slide-to='1')
      li(data-target='#bs-carousel', data-slide-to='2')
    // Wrapper for slides
    .carousel-inner
      .item.slides.active
        .slide-1
        .hero
          hgroup
            h1 Bienvenue !
            h3 Pas encore inscrit ? 
          button.btn.btn-hero.btn-lg(role='button',onclick="window.location.href='/register'") S'inscrire
      .item.slides
        .slide-2
        .hero
          hgroup
            h1 Bienvenue !
            h3 Déjà inscrit ? 
          button.btn.btn-hero.btn-lg(role='button',onclick="window.location.href='/connect'") Se connecter
      .item.slides
        .slide-3
        .hero
          hgroup
            h1 Bienvenue !
            h3 Qui sommes nous ?
          button.btn.btn-hero.btn-lg(role='button',onclick="window.location.href='/about'") A propos
