doctype html
html
  //
    "
        ________         _______________________
       /       /\       /        /             /|
      /_______/  \     /_______ /_____________/ |
      |       \   \ __/|       |              | |  
      |        \  /  / |       |              | |
      |         \/__/  |       |              | /
      |                |_______|       _______|/
      |                        |      | |
      |                        |      | |
      |                        |      | |
      |       |\      /|       |      | |
      |       | \____/ |       |      | |
      |       | /      |       |      | /
      |_______|/       |_______|______|/

    "
  head
    block title
      title Bienvenue
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    block head

  body


    header(class="navbar navbar-inverse navbar-static-top bs-docs-nav navbar-fixed-top ", id="top", role="banner")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Minitwr
        nav(class="collapse navbar-collapse bs-navbar-collapse")
          ul(class="nav navbar-nav")
            if session.isConnect
              li
                a(href='/profil/'+session.account.pseudo)=session.account.pseudo
            li
              a(href='/hashtag/undefined?search=') Chat

            .col-sm-3.col-md-6
              form.navbar-form(role='search', action="/hashtag/" + search)
                .input-group
                  input.form-control(type='text', placeholder='Search', name='search')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      i.glyphicon.glyphicon-search



          ul(class="nav navbar-nav navbar-right")
            li
              a(href='/about') A propos
            if session.isConnect == true
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') Compte 
                  b.caret
                ul.dropdown-menu
                  li
                    .navbar-content
                      .row
                        .col-md-5
                          img.img-responsive(src=session.account.imProfil, alt='Alternate Text')
                          p.text-center.small
                        .col-md-7
                          a(href='/profil/'+session.account.pseudo)
                            span= session.account.pseudo
                          p.text-muted.small= session.account.commentaire
                          .divider
                          a.btn.btn-primary.btn-sm.active(href='/profil/'+session.account.pseudo+'/modifier') Modifier son profil
                    .navbar-footer
                      .navbar-footer-content
                        .row
                          .col-md-6
                            a.btn.btn-default.btn-sm(href='#') Changer son mot de passe
                          .col-md-6
                            a.btn.btn-default.btn-sm.pull-right(href='/disconnect') Se déconnecter
            else
              li
                a(href='/register') S'enregistrer
              li
                a(href='/connect') Se connecter



    .container   
      .row
        .col-lg-12.text-center
          block content
    footer
    script(src='/javascripts/bootstrap.js')
