extends layout

block title
  title=account.pseudo

block content
  .container
    .row
      form.form-horizontal(method='POST', accept-charset='UTF-8')
        fieldset
          .container
            .row
              h1 Modifier son compte
              .col-lg-6
                .form-group
                  .input-group
                    input.form-control(name='prenom', type='text', placeholder='Prénom', value='#{account.prenom}')
                    span.input-group-addon
                      i.fa.fa-star-o
                  .input-group
                    input.form-control(name='nom', type='text', placeholder='Nom', value='#{account.nom}')
                    span.input-group-addon
                      i.fa.fa-star-o
                  .input-group
                    select.form-control
                      option(value='Homme') Homme
                      option(value='Femme') Femme
                      option(value='Autre') Autre
                    span.input-group-addon
                      i.fa.fa-star-o
                  .input-group
                    input.form-control(name='commentaire', value='#{account.commentaire}', placeholder='commentaire')
                    span.input-group-addon
                      i.fa.fa-star-o

              .col-lg-6
                .form-group
                  .input-group
                    input.form-control(type='number', name='age', value='#{account.age}', min='0', placeholder='Âge')
                    span.input-group-addon
                      i.fa.fa-star-o
                  .input-group
                    input.form-control(type='text', name='region', value='#{account.region}', placeholder='Région')
                    span.input-group-addon
                      i.fa.fa-star-o
                  .input-group
                    input.form-control(type='url', name='imProfil', value='#{account.imProfil}', placeholder='url image profil')
                    span.input-group-addon
                      i.fa.fa-star-o
                  .input-group
                    input.form-control(type='url', name='imCouv', value='#{account.imCouv}', placeholder='url image couverture')
                    span.input-group-addon
                      i.fa.fa-star-o
              br
              button.btn.btn-info(type='submit', name='submit') Modifier
              br
              p


