extends layout
block title
  title=account.pseudo
  
block head
  link(rel='stylesheet', href='/stylesheets/twt.css')
  script(src='/javascripts/affichePosts.js')
  link(rel='stylesheet', href='/stylesheets/profil.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

block content
  .container
    .fb-profile
      img.fb-image-lg(align='left', src=account.imCouv, alt='Couverture image example')
      img.fb-image-profile.thumbnail(align='left', src=account.imProfil, alt='Profile image example')
      .fb-profile-text
        h1= account.pseudo
        h3= account.prenom + " " + account.nom
        p= account.commentaire

  if session.isConnect 
    if session.account.pseudo == account.pseudo
      blockquote.twt
        br
        form(accept-charset='UTF-8', action='', method='POST')
          textarea#new_message.span4.message(name='message', placeholder='Ecrivez ici votre message', rows='5')
          br
          br
          button.btn.btn-info(type='submit') Post New Message
          br
          p 



  p= "Les derniers tweet de " + account.pseudo
  section#posts
 
  script.
    nbPosts(function(nb) {
        searchPosts(function(posts) {
            affichePosts(posts, true); 
        }, nb, 10, {pseudo : '#{account.pseudo}'});
        var I=nb;
        var i=I;
        $(window).scroll(function() {
            if($(window).scrollTop() == $(document).height() - $(window).height() && i>10){
                i=i-10;
                searchPosts(function(posts) {
                    affichePosts(posts, true); 
                }, i, 10, {pseudo : '#{account.pseudo}'});
            }
        });
    },{pseudo : '#{account.pseudo}'});
  


