extends layout

block title
  title="S'enregistrer"

block head
  link(rel='stylesheet', href='/stylesheets/register.css')
  
block content
  h1= title
  if session.isConnect == false
     .container
       .row
         .span4.offset4.well
           legend Rejoignez nous !
           .alert.alert-error
             a.close(data-dismiss='alert')  
             span#tooltip= err
           form(method='post', action='/register', accept-charset='UTF-8', name='login', id="formRegister")
             input#pseudo.span4(type='text', name='pseudo', placeholder="Nom d'utilisateur")
             br
             br
             input#email.span4.email(type='text', name='email', placeholder='Email')
             br
             br
             input#pass.span4(type='password', name='pass', placeholder='Mot de passe')
             br
             br
             input#pass2.span4(type='password', name='pass2', placeholder='Confirmer le mot de passe')
             br
             br
             button.btn.btn-info(type='submit', name='submit') S'enregistrer
             br
             br
             a.btn.btn-info(href='/connect') Déjà un compte ?
  else
    p Vous êtes déjà connecté
  script(src='/javascripts/register.js')
